$cool-gray-dark: #455168;
$cool-gray-dark-50: rgba(69, 81, 104, .5);
$cool-gray-med-dark: #6D7277;
$lightest-gray: #F5F6F7;
$brand-gradient: linear-gradient(to bottom right, #39455D, #1B212C);
$brand-hr-color: #5C6B87;
$brand-yellow: #FFA506;
$brand-blue: #6BBCF2;

%button {
    display: inline-block;
    text-decoration: none;
    line-height: 44px;
    height: 44px;
    font-size: 18px;
    font-family: 'Maven Pro';
    font-weight: 500;
    letter-spacing: -.035em;
    padding: 0 30px;
    border-radius: 44px;
}

* {
    box-sizing: border-box;
}

body {
    color: $cool-gray-med-dark;
    font-size: 20px;
    font-family: "proxima-nova", sans-serif;
    letter-spacing: .010em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cf:after {
    content: '';
    display:table;
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    color: $cool-gray-dark;
    font-family: 'Maven Pro';
    letter-spacing: -.035em;
    font-weight: 500;
    margin-bottom: 12px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 29px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 12px 0;
}

p {
    line-height: 140%;
}

a {
    color: $brand-blue;
}

button, input[type=submit] {
    cursor: pointer;
}

input:not([type=submit]):not([type=file]) {
    height: 44px;
    font-size: 18px;
    color: $cool-gray-med-dark;
    padding: 0 10px;
    border: 1px solid #CDD0D3;
    border-radius: 4px;
}

.section-heading {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
}

.button {
    @extend %button;
    color: #fff;
    background: $cool-gray-dark;
}

.button-cta {
    @extend %button;
    color: #fff;
    background: $brand-yellow;
    text-shadow: 0 0 5px rgba(0, 0, 0, .25);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .2);
}

.arrow-section {
    position: relative;

    .section-arrow-top,
    .section-arrow-bottom {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100px;
    }

    .section-arrow-top {
        top: 0;
    }

    .section-arrow-bottom {
        bottom: 0;
    }
}

.inner {
    max-width: 1440px;
    margin: 0 auto;
}

.branded {
    background: $brand-gradient;
    color: #D1DAE3;

    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }

    .button {
        background: $cool-gray-dark-50;
        line-height: 42px;
        border: 1px solid $cool-gray-dark;
        transition: background 200ms;

        &:hover {
            background: $cool-gray-dark;
        }
    }
}

.gray {
    background: $lightest-gray;
}

.content-block {
    max-width: 600px;
}

#main-nav {
    padding: 26px 0 20px;
    border-bottom: 1px solid $brand-hr-color;
    font-size: 16px;
    display: flex;

    .nav-logo img {
        display: block;
    }

    ul {
        list-style: none;
        display: flex;
        margin: 0 0 0 auto;
        padding: 0;

        a:not(.button) {
            color: #fff;
            text-decoration: none;
            transition: color 100ms;
            display: inline-block;
            line-height: 36px;
            height: 36px;
            padding: 0 15px;
            position: relative;

            &:hover {
                color: $brand-blue;
            }

            &[target=_blank]:after {
                content: url(/images/new-tab-link.svg);
                vertical-align: middle;
                margin-left: 5px;
            }
        }

        .active a:after {
            content: '';
            width: 100%;
            height: 5px;
            background: $brand-blue;
            position: absolute;
            bottom: -20px;
            left: 0;
        }
    }

    .button {
        font-size: 16px;
        height: 36px;
        line-height: 34px;
        margin-left: 15px;
    }
}

.hero .content-block {
    max-width: 640px;
    margin: 150px auto 210px;
    text-align: center;

    h1 {
        margin-bottom: 12px;
    }

    p {
        font-size: 20px;
        line-height: 140%;
        margin: 12px 0;
    }

    .button-cta {
        margin-top: 30px;
    }
}

.main-content-row {
    display: flex;
    justify-content: space-around;
    margin: 120px 0 150px;

    > * {
        max-width: 600px;
        flex: 1 1 600px;
    }

    .content-block {
        margin: 0 60px 0 0;
    }

    &:nth-child(even) .content-block {
        order: 2;
        margin: 0 0 0 60px;
    }
}

.use-cases {
    padding: 180px 0 120px;

    .content-block {
        text-align: center;
        margin: 0 auto;
    }
}

.team {
    padding: 90px 0 120px;

    h2 {
        margin: 0 0 50px;
    }

    .team-members {
        display: flex;
        justify-content: space-between;

        .team-member {
            text-align: center;
            margin: 0 0 0 60px;
            border-radius: 8px;
            box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
            flex: 1 1 360px;
            overflow: hidden;

            &:nth-of-type(4n + 1) {
                margin-left: 0;
            }

            .portrait-mask {
                height: 250px;
                overflow: hidden;
                position: relative;

                img {
                    position: absolute;
                    width: 100%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            h2 {
                font-size: 22px;
                margin: 0;
            }

            p {
                margin: 6px 0 0;
                font-size: 18px;
            }

            .team-member-content {
                padding: 20px;
            }
        }
    }
}

.final-cta {
    padding-top: 210px;

    .content-block {
        text-align: center;
        margin: 0 auto 120px;

        h2 {
            font-size: 48px;
            margin: 0 0 30px;
        }
    }

    footer {
        border-top: 1px solid $brand-hr-color;
        font-size: 18px;
        padding: 45px 0 60px;
        justify-content: space-evenly;
        display: flex;

        .footer-left {
            display: flex;
            flex-direction: column;

            .copyright {
                margin-top: auto;
            }
        }

        .footer-center {
            width: 460px;
            margin: 0 60px;
        }

        .footer-right {
            width: 400px;
        }

        // .footer-center > *,
        // .footer-right > * {
        //     max-width: 400px;
        // }

        .footer-left > :first-child,
        .footer-center > :first-child,
        .footer-right > :first-child {
            margin-top: 0;
        }

        #footer-updates-form {

            h2 {
                font-size: 24px;
                margin: 0 0 6px;
            }

            p {
                margin: 6px 0;
            }

            input {
                width: 100%;
                margin: 9px 0 15px;
            }

            button {
                display: block;
                width: 100%;
            }
        }
    }
}